{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Layout</title>
     <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body>
     <nav class="navbar navbar-dark bg-primary">
         <a class="navbar-brand" href="#">Navbar</a>
     </nav>
    <!-- {{ template "content" .}} -->
    {{block "content" .}}
    test
    {{end}}
</body>
</html>

{{end}}